:root{
    --dark1: rgb(39, 54, 70); 
    --dark2: rgb(64, 82, 113);
    --darkFont1: rgb(235, 236, 239);
    --darkFont2: rgb(210, 210, 212);

    --light1: rgb(217, 212, 193);
    --light2: rgb(236, 236, 225);
    --lightFont1: black;
    --lightFont2: grey;
}

nav {
    /* background-color: burlywood; */
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
    display:inline-block;
    border-bottom: 2px solid black;
}

h1 {
    color: black;
    top: 10px;
    display: inline;
    padding-left: 30px;
    font-size: 50px;
    position: relative;

}

form{
    /* background-color: burlywood; */
    
    
    border-radius: 5px;
    margin: 20px;
    width: 80px;
    height: 40px;
    float: right;
    
    
}

.switch{
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 200px;
    cursor: pointer;
    border: 2px solid grey;
    bottom: 40px;
    left: 50%;
    transition: 0.4s;
}

.switch:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 7px;
    background-color: white;
    border-radius: 180px;
    border: 1px solid black;
    transition: 0.4s;
}

#darkmode-toggle {
    width: 0;
    height: 0;
    display: none;
}
input:checked + label {
    background-color: rgb(49, 48, 48);
}

input:checked + label:after {
    left: 50px;
    transform: translateX(10%);
}

input:checked + label {
    background-color: rgb(49, 48, 48);
}

/* Dark mode */
.dark {
    background-color: var(--dark1);
    height: 100vh;
}
.dark nav{
    background-color: var(--dark2);
}
.dark h1{
    color: var(--darkFont2);
}
.dark .goBack {
    background-color: var(--dark1);
    color: var(--darkFont2);
}
.dark .allPosts{
    background-color: var(--dark1);
    color: var(--darkFont1);
}
.light .username {
    color: var(--lightFont2);
}
.dark .post-container{
    border: 4px solid grey;   
}
.dark .footer-container{
    background-color: var(--dark2);
    color: white;
}

/* Light mode */
.light {
    background-color: var(--light2);
    height: 100vh;
}
.light nav{
    background-color: var(--light1);
}
.light h1{
    color: var(--lightFont1);
}
.light .goBack {
    background-color: var(--light2);
    color: var(--lightFont1);
}
.light .allPosts{
    background-color: var(--light2);
    color: var(--lightFont1);
}
.light .username {
    color: var(--lightFont2);
}
.light .post-container{
    border: 4px solid black;   
}
.light .footer-container{
    background-color: var(--light1);
}

.goBack{
    border: 2px solid black;
    /* color:black; */
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    border-radius: 5px;
}

main {
    padding-top: 90px; 
    padding-bottom: 90px;
}

.footer-container {
    /* background-color: burlywood; */
    width: 100%;
    border-top: 2px solid black;
    height: auto;
    padding: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.small-icon {
    width: 2vw;
    border-radius: 20px;
}



.allPosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    
    min-height: auto;
    
}

.post-container {
    width: 95%;
    margin-top: 20px;
    height: auto;
    
    
}

.title {
    font-size: 40px;
    padding-left: 4%;
}

hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid grey;
}

.textarea {
    max-width: 95%;
    font-style: italic;
    padding: 40px;
    font-size: 25px;
}

.username {
    margin-left: 50px;
    
}



@media (max-width: 800px) {
    h1 {
        font-size: 30px;
        top: 25px;
    }
    .footer-container{
        display: block;
        /* padding: 20px; */
    }

    .footer-container > p{
        margin-top: 10px;
    }

    .small-icon{
        margin-top: 10px;
        width: 4vw;
    }
    
    .allPosts {
        margin-bottom: 150px;
    }
    .switch {
        bottom: 17px;
    }
    main{
        padding-bottom: 200px;
    }
}

